@import "../general-needs/mixins";
@import "../general-needs/rfs";
.preloader {
  position: fixed;
  overflow: hidden;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100000;
  &-item {
	@include absoluteCenter(none, none);
  }
  &-figure {
	position: relative;
	width: 200px;
	overflow: hidden;
	@include responsive-ratio(1, .8, true);
	img {
	  @include absoluteCenter;
	}
  }
  &-text {
	font-family: Arial, sans-serif;
	text-align: center;
	p {
	  @include rfs(18);
	  color: #fff;
	  line-height: 1em;
	  text-shadow: 1px 1px 10px rgba(#fff, .7);
	}
  }
}