@import "../general-needs/rem";
@import "../general-needs/rfs";
@import "../general-needs/mixins";
@import "../general-needs/functions";

.typical-styles {
  h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: 700;
    line-height: $heading-type-line-height;
    margin-bottom: $heading-type-mb;
  }
  h1 {
    @include rfs(32);
  }
  h2 {
    @include rfs(24);
  }
  h3 {
    font-size: rem(19px);
  }
  h4 {
    font-size: rem(16px);
  }
  h5 {
    font-size: 13px;
  }
  h6 {
    font-size: 1.5rem;
    background-color: $base-color;
    padding: .5em;
  }
  p, blockquote, cite {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: $paragraph-type-mb;
  }
  cite {
    font-style: italic;
    font-weight: 500;
  }
  a {
    position: relative;
    display: inline-flex;
    color: $link-type-color;
    transition: color .3s;
    line-height: 1em;
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $link-type-color;
      transition: width .3s;
    }
    &:hover {
      color: $link-type-color-hover;
      &::after {
        width: 100%;
      }
    }
  }
  ul, ol {
    margin-bottom: 1rem;
  }
  ul li, ol li {
    font-size: $font-size-base;
    font-style: normal;
    font-weight: normal;
    margin-bottom: .8em;
    &::before {
      margin-right: .4em;
    }
  }
  ul {
    li {
      &::before {
        content: "";
        display: inline-block;
        height: .5em;
        width: .5em;
        margin-bottom: .08em;
        border-radius: 50%;
        background-color: $base-color;
      }
    }
  }
  ol {
    counter-reset: myCounter;
    li {
      &::before {
        counter-increment: myCounter;
        content: counters(myCounter, ". ");
        font-size: inherit;
        line-height: inherit;
        background-color: $base-color;
        padding: 0 .3em;
      }
      ol {
        padding-left: 1em;
        margin-top: .5em;
        li {
          margin-bottom: .6em;
        }
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: .5rem;
  }
  .typical-table-wrap {
    overflow: auto;
  }
  table {
    font-size: $font-size-base;
    margin-bottom: 1em;
    tr {
      td {
        border: 1px solid #999999;
        text-align: center;
        vertical-align: middle;
        padding: .2em .3em;
      }
    }
  }
}