@import "variables";
@import "media-queries";
@import "rfs";

@mixin mx-auto {
  margin: {
	left: auto;
	right: auto;
  }
}

@mixin background($path: false, $rep: no-repeat, $pos: center center, $size: cover) {
  @if $path {
  background-image: url('' + $path);
}
  background-repeat: $rep;
  background-position: $pos;
  background-size: $size;
}

@mixin breadCrumb($fz: 16, $content: "/", $fw: 400, $margin: 2em 0, $color: $base-clr, $bg: false, $bgPath: "") {
  .bread-crumb {
	ul {
	  display: flex;
	  align-items: center;
	  flex-wrap: wrap;
	  font-size: rem($fz+px);
	  margin: $margin;

	  li {
		flex: 0 0 auto;
		font-size: inherit;
		font-weight: $fw;
		line-height: 1.2em;
	  }

	  li {
		a {
		  color: inherit;
		  font-weight: inherit;
		  line-height: inherit;
		  word-break: inherit;
		  transition: color $trs;

		  @if $bg {
			position: relative;
			display: block;
			padding-right: 2em;
			&::after {
			  position: absolute;
			  top: 0;
			  content: "" + $content;
			  bottom: 0;
			  width: 2em;
			  margin: 0;
			  @include background($bgPath, $size: 50%, $rep: no-repeat, $pos: 50% 50%);
			  transition: transform $trs;
			}
			&:hover {
			  &::after {
				transform: rotate(-180deg);
			  }
			}
		  } @else {
			&::after {
			  content: "" + $content;
			  margin: 0 .5em;
			  color: inherit;
			}
		  }

		}

		&:hover {
		  a {
			color: $base-color;
		  }
		}
	  }
	}
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '', $size: true) {
  content: $content;
  display: $display;
  position: $pos;
  @if $size {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote(( $y / $x ) * 100 + '%');
  @if $pseudo {
	&:before {
	  @include pseudo($pos: relative);
	  width: 100%;
	  padding-top: $padding;
	}
  } @else {
	padding-top: $padding;
  }
}

@mixin formError($colorError: red, $borderError: inherit, $borderValid: inherit, $fz: 14px) {
  label.error {
	font-size: $fz;
	color: $colorError;
  }
  input.error {
	border-color: $borderError;
  }
  input.valid {
	border-color: $borderValid;
  }
  textarea.error {
	border-color: $borderError;
  }
  textarea.valid {
	border-color: $borderValid;
  }
}

@mixin absolute($width: false) {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @if $width {
	width: 100%;
  }
}

@mixin absoluteCenter($mw: 100%, $mh: 100%) {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: $mw;
  max-height: $mh;
}

@mixin flare($loop: .2, $center: .4, $speed: 120ms) {
  &::after {
	@include absolute;
	content: "";
	pointer-events: none;
	background-image: linear-gradient(45deg, transparent, transparent, transparent);
  }
  &:hover {
	&::after {
	  animation: blik $speed linear;
	}
  }

  @keyframes blik {
	0% {
	  background-image: linear-gradient(45deg, rgba(#fff, $loop), transparent, transparent);
	}
	50% {
	  background-image: linear-gradient(45deg, transparent, rgba(#fff, $center), transparent);
	}
	100% {
	  background-image: linear-gradient(45deg, transparent, transparent, rgba(#fff, $loop));
	}
  }
}

@mixin objectFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@mixin textInherit($fz: inherit, $fw: inherit, $fs: inherit, $color: inherit, $lh: inherit,$wb: normal) {
  font: {
	size: $fz;
	weight: $fw;
	style: $fs;
  }
  color: $color;
  line-height: $lh;
  word-break: $wb;
}

@mixin list-reset {
  padding-left: 0;
  list-style: none;
}
/*Media query for browsers*/
@mixin media-IE {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	@content;
  }
}

@mixin media-edge {
  @supports (-ms-ime-align:auto) {
	.selector {
	  property: value;
	}
	@content;
  }
}
/*END Media query for browsers*/

@mixin scrollBar {
  html {
	width: 100vw;
	/*IE 11*/
	-ms-overflow-style: -ms-autohiding-scrollbar;

	/*FireFox*/
	scrollbar-width: thin;
	scrollbar-color: $fireFoxTrackColor $fireFoxThumbColor;

	/*WebKit*/
	::-webkit-scrollbar {
	  width: $chromeTrackWidth;
	  background: none;
	}

	::-webkit-scrollbar-button {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	::-webkit-scrollbar-track {
	  background-color: $chromeTrackColor;
	}

	::-webkit-scrollbar-thumb {
	  background-color: $chromeThumbColor;
	  border-radius: 5px;
	}

	::-webkit-scrollbar-corner {
	  height: 8px;
	  width: 8px;
	  background-color: rgba(#fff, .2);
	}

  }
}
