@import "variables";
@import "media-queries";

@mixin mx-auto {
  margin: {
	left: auto;
	right: auto;
  }
}

//Bread crumb
@mixin breadCrumb($fz: 16, $content: "/", $fw: 400, $margin: 2em 0, $color: $body-color, $background: false, $backgroundPath: "") {
  .bread-crumb {
	ul {
	  display: flex;
	  align-items: center;
	  flex-wrap: wrap;
	  font-size: rem($fz+px);
	  margin: $margin;

	  li {
		flex: 0 0 auto;
		font-size: inherit;
		font-weight: $fw;
		line-height: 1.2em;
	  }

	  li {
		a {
		  color: inherit;
		  font-weight: inherit;
		  line-height: inherit;
		  word-break: inherit;
		  transition: color $transition;
		  @if $background {
			position: relative;
			display: block;
			padding-right: 2em;
			&::after {
			  position: absolute;
			  top: 0;
			  content: "" + $content;
			  bottom: 0;
			  width: 2em;
			  margin: 0;
			  @include background($backgroundPath, $size: 50%, $repeat: no-repeat, $position: 50% 50%);
			  transition: transform $transition;
			}
			&:hover {
			  &::after {
				transform: rotate(-180deg);
			  }
			}
		  } @else {
			&::after {
			  content: "" + $content;
			  margin: 0 .5em;
			  color: inherit;
			}
		  }
		}

		&:hover {
		  a {
			color: $base-color;
		  }
		}
	  }
	}
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '', $size: true) {
  content: $content;
  display: $display;
  position: $pos;
  @if $size {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote(( $y / $x ) * 100 + '%');
  @if $pseudo {
	&:before {
	  @include pseudo($pos: relative);
	  width: 100%;
	  padding-top: $padding;
	}
  } @else {
	padding-top: $padding;
  }
}

@mixin formError($colorError: red, $borderError: inherit, $borderValid: inherit, $font-size: 14px) {
  label.error {
	font-size: $font-size;
	color: $colorError;
  }
  input.error {
	border-color: $borderError;
  }
  input.valid {
	border-color: $borderValid;
  }
  textarea.error {
	border-color: $borderError;
  }
  textarea.valid {
	border-color: $borderValid;
  }
}

@mixin absolute($width: false) {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @if $width {
	width: 100%;
  }
}

@mixin absoluteCenter($mw: 100%, $mh: 100%) {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: $mw;
  max-height: $mh;
}

@mixin blik($loop: .2, $center: .4, $speed: 120ms) {
  &::after {
	@include absolute;
	content: "";
	pointer-events: none;
	background-image: linear-gradient(45deg, transparent, transparent, transparent);
  }
  &:hover {
	&::after {
	  animation: blik $speed linear;
	}
  }

  @keyframes blik {
	0% {
	  background-image: linear-gradient(45deg, rgba(#fff, $loop), transparent, transparent);
	}
	50% {
	  background-image: linear-gradient(45deg, transparent, rgba(#fff, $center), transparent);
	}
	100% {
	  background-image: linear-gradient(45deg, transparent, transparent, rgba(#fff, $loop));
	}
  }
}

@mixin objectFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@mixin background($path: "", $repeat: no-repeat, $position: center center, $size: cover) {
  background-image: url('' + $path);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin textInherit($font-size: inherit, $font-weight: inherit, $font-style: inherit, $color: inherit, $line-height: inherit,$word-break: normal) {
  font: {
	size: $font-size;
	weight: $font-weight;
	style: $font-style;
  }
  color: $color;
  line-height: $line-height;
  word-break: $word-break;
}

/*Media query for browsers*/
@mixin media-IE {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	@content;
  }
}

@mixin media-edge {
  @supports (-ms-ime-align:auto) {
	.selector {
	  property: value;
	}
	@content;
  }
}

/*END Media query for browsers*/

@mixin scrollBar {
  html {
	width: 100vw;
	/*IE 11*/
	-ms-overflow-style: -ms-autohiding-scrollbar;

	/*FireFox*/
	scrollbar-width: thin;
	scrollbar-color: $fireFoxTrackColor $fireFoxThumbColor;

	/*WebKit*/
	::-webkit-scrollbar {
	  width: $chromeTrackWidth;
	  background: none;
	}

	::-webkit-scrollbar-button {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	::-webkit-scrollbar-track {
	  background-color: $chromeTrackColor;
	}

	::-webkit-scrollbar-thumb {
	  background-color: $chromeThumbColor;
	  border-radius: 5px;
	}

	::-webkit-scrollbar-corner {
	  height: 8px;
	  width: 8px;
	  background-color: rgba(#fff, .2);
	}

  }
}