@import "functions";
/*Global colors*/
$white					 : #ffffff;
$black					 : #111111;
$base-clr                : $black;
$body-bg                 : $white;

/*Transitions*/
$trs					 : .4s;

/*Global fonts settings*/
$ff-base				 : "Roboto", sans-serif;
$fz-base				 : 1rem;
$fw-base				 : normal;
$lh-base				 : 1.35;

/*Scroll-bar settings*/
$fireFoxTrackColor		 : rgba($base-clr, .5);
$fireFoxThumbColor		 : rgba(#fff, .8);

$chromeTrackColor        : rgba($base-clr, .5);
$chromeThumbColor        : rgba(#fff, .5);
$chromeTrackWidth        : .5rem;

/* Grid variables start*/
$containerMax			 : 1170px;
$containerInset			 : strip-unit($containerMax) - 30;

$grid-breakpoints: (
		xs: 0,
		m: 375px,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px
);

$container-max-widths: (
		m: 400px,
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: $containerMax
);

$grid-columns			  : 12;
$grid-gutter-width		  : 30px;

/* Responsive font-size start*/
$rfs-minimum-font-size	  			: 16px;
$rfs-font-size-unit		  			: rem;
$rfs-breakpoint			  			: 1200px;
$rfs-breakpoint-unit	  			: px;
$rfs-two-dimensional				: false;
$rfs-factor							: 10;
$rfs-class							: false;
$rfs-rem-value						: 16;
$rfs-safari-iframe-resize-bug-fix	: false;
$enable-responsive-font-sizes		: true;
