@import "helpers/share";
@import "components/Preloader";

/*Starting styles */
* {
  outline: none;
}

@include media-breakpoint-up(lg) {
  @include scrollBar;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

html {
  width: 100vw;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &.overflow {
    overflow: hidden;
  }
}

.footer {
  margin-top: auto;
}

button {
  border: none;
  background-color: transparent;

  &:focus, &:hover {
    outline: none !important;
  }
}

figure {
  margin-bottom: 0;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

svg {
  max-width: 100%;
  pointer-events: none;
}

::selection {
  background: rgba($primary, 0.8);
  color: #fff;
}

.link-wrapper {
  display: block;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

/*Starting styles END*/

//Titles styles
.title {
  color: $black;
  font-weight: $font-weight-bold;
  line-height: 1.2;

  h1, h2, h3, h4, h5, h6, span {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    margin-bottom: 0;
  }

  &.title-uppercase {
    text-transform: uppercase;
  }

  &.title-first {
    @include rfs($h1-font-size);
  }

  &.title-second {
    @include rfs($h2-font-size);
  }

  &.title-third {
    @include rfs($h3-font-size);
  }

  &.title-fourth {
    @include rfs($h4-font-size);
  }

  &.title-fifth {
    @include rfs($h5-font-size);
  }

  &.title-sixth {
    @include rfs($h6-font-size);
  }
}

//Presentation
body {
  position: relative;
  background-color: #e1e1e1;
  @include background("../img/pattern-bg.png", $rep: repeat, $pos: 0 0, $size: auto);
}

.header,
.footer {
  @include rfs(35);
  text-align: center;
  background-color: rgba($black, .3);
  padding: 0.5em 0;

  span {
    text-shadow: 8px 8px 6px rgba($black, 0.4);
    text-transform: lowercase;
    font-style: italic;
    font-weight: $font-weight-bold;
    line-height: 1em;
    margin-bottom: 0;
  }
}

.header {
  box-shadow: 15px 15px 20px 0 rgba($black, 0.25);
  border-bottom: 1px solid rgba($white, .4);
}

.footer {
  box-shadow: 0 -5px 40px 0 rgba($black, 0.2);
  border-top: 1px solid rgba($white, .4);
}

main {
  @include media-breakpoint-up(sm) {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .item {
    width: 150px;
    @include mx-auto;
    box-shadow: 20px 20px 20px 0 rgba($black, 0.15);
    @include media-breakpoint-down(sm) {
      width: 100px;
    }

    &-icon {
      @include responsive-ratio(1, 1, true);
      border-radius: 3px;
      background-color: rgba($white, 0.1);
      border: 1px ridge rgba($black, .4);
      background-image: radial-gradient(transparent, rgba($gray, .15));

      p {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 1;
        color: #56332B;
        margin-bottom: 0;
      }

      svg, img {
        @include absoluteCenter(95%, 95%);
      }
    }
  }
}




