@import 'helpers/general-needs/general-needs';

@include scrollBar;

/*Starting styles*/
* {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0 !important;
}

html {
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &.overflow {
	overflow: hidden;
  }
}

.header, main .footer {
  flex: 0 0 auto;
}

.footer {
  margin-top: auto;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;

  &[type="button"],
  &[type="submit"] {
	&:focus {
	  outline: none;
	}
  }
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }
}

input,
textarea {
  &:focus {
	outline: none;
  }
}

textarea {
  resize: none;
}

svg {
  max-width: 100%;
  pointer-events: none;
}

::selection {
  background: rgba($base-color, 0.4);
  color: #fff;
}

.link-wrapper {
  display: block;
}

/*Starting styles END*/

//Presentation
body {
  position: relative;
  background-color: #e1e1e1;
  @include background("../img/pattern-bg.png", $repeat: repeat, $position: 0 0, $size: auto);
}

.header,
.footer {
  @include rfs(35);
  text-align: center;
  color: #333;
  font-weight: 400;
  background-color: rgba(#000, .3);
  line-height: 1em;
  padding: 0.5em 0;

  p {
	text-shadow: 8px 8px 6px rgba(#000, 0.4);
	text-transform: lowercase;
  }
}

.header {
  box-shadow: 15px 15px 20px 0 rgba(#000, 0.25);
  border-bottom: 1px solid rgba(#fff, .4);
}

.footer {
  box-shadow: 0 -5px 40px 0 rgba(#000, 0.2);
  border-top: 1px solid rgba(#fff, .4);
}

main {

  @include mediaToUp($m) {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
  }

  .item {
	width: 150px;
	@include mx-auto;
	box-shadow: 20px 20px 20px 0 rgba(#000, 0.15);
	@include mediaToDown($sm) {
	  width: 100px;
	}

	&-icon {
	  position: relative;
	  border-radius: 3px;
	  overflow: hidden;
	  background-color: rgba(#fff, 0.1);
	  border: 1px ridge rgba(#000, .4);
	  @include responsive-ratio(1, 1, true);
	  background-image: radial-gradient(transparent, rgba(#666, .15));

	  p {
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		text-align: center;
		line-height: 1;
		color: #56332B;
	  }

	  img {
		@include absoluteCenter(95%, 95%);
	  }
	}
  }

  .block {
	height: 500px;
  }
}



