@import "functions";
/*Global colors*/
$white					 : #ffffff;
$black					 : #111111;
$base-clr                : $black;
$body-bg                 : $white;

/*Transitions*/
$trs					 : .4s;

/*Fonts settings*/
$ff-base				 : "Roboto", sans-serif;

/*Scroll-bar settings*/
$firefox-track-color     : rgba($base-clr, .5);
$firefox-thumb-color     : rgba(#fff, .8);

$chrome-track-color      : rgba($base-clr, .5);
$chrome-thumb-color      : rgba(#fff, .5);
$chrome-track-width      : .5rem;

/*Grid variables start*/
$m:  414px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$vl: 1400px;
$sl: 1600px;

$container-width		 : strip-unit($xl) - 30;

$grid-breakpoints: (
		xs: 0,
		m:  $m,
		sm: $sm,
		md: $md,
		lg: $lg,
		xl: $xl
);

$container-max-widths: (
		m:  (strip-unit($m) - 39)+px,
		sm: (strip-unit($sm) - 36)+px,
		md: (strip-unit($md) - 48)+px,
		lg: (strip-unit($lg) - 32)+px,
		xl: (strip-unit($xl) - 30)+px
);

$grid-columns			  : 12;
$grid-gutter-width		  : 30px;

/*Responsive font-size start*/
$rfs-minimum-font-size	  			: 16px;
$rfs-font-size-unit		  			: rem;
$rfs-breakpoint			  			: 1200px;
$rfs-breakpoint-unit	  			: px;
$rfs-two-dimensional				: false;
$rfs-factor							: 10;
$rfs-class							: false;
$rfs-rem-value						: 16;
$rfs-safari-iframe-resize-bug-fix	: false;
$enable-responsive-font-sizes		: true;
