//Page navigation
.page-nav
	|
	|
	span.prev
		|
		|
		a(href="#")
			|
			|
			svg
				use(xlink:href="./img/gallery/left-arrow.svg#icon")
			|
			|
		|
		|
	|
	|
	.page-nav-number-wrap
		|
		|
		span.number.selected 1
		|
		|
		span.number
			a(href="#") 2
		|
		|
		span.number
			a(href="#") 3
		|
		|
	|
	|
	span.next
		|
		|
		a(href="#")
			|
			|
			svg
				use(xlink:href="./img/gallery/right-arrow.svg#icon")
			|
			|
		|
		|
	|
	|
//Page navigation  END