.container
	.row
		div.col-md-4.offset-md-2.mb-4
				figure.item
					.item-icon
						|
						|
						img(src="./img/gulp.svg" alt="Icon")
						|
						|
		div.col-md-4.mb-4
			figure.item
				.item-icon
					|
					|
					img(src="./img/webpack.png" alt="Icon")
					|
					|
		div.col-lg-4.mb-4
			figure.item
				.item-icon
					p Pug
					|
					|
					img(src="./img/pug.svg" alt="Icon")
					|
					|
		div.col-lg-4.mb-4
			figure.item
				.item-icon
					|
					|
					img(src="./img/sass.svg" alt="Icon")
					|
					|
		div.col-lg-4.mb-4
			figure.item
				.item-icon
					|
					|
					img(src="./img/jquery.svg" alt="Icon")
					|
					|
		div.col-lg-4.offset-md-2
			figure.item
				.item-icon
					|
					|
					img(src="./img/js.svg" alt="Icon")
					|
					|
		div.col-md-4
			figure.item
				.item-icon
					|
					|
					img(src="./img/php.svg" alt="Icon")
					|
					|