.container
  .row
    .mt-4.mt-m-0.col-6.col-md-4.offset-md-2.mb-4
      figure.item
        .item-icon
          +icon('gulp')
    .mt-4.mt-m-0.col-6.col-md-4.mb-4
      figure.item
        .item-icon
          |
          |
          img(src="./img/webpack.png" alt="Icon")
          |
          |
    .col-6.col-md-4.mb-4
      figure.item
        .item-icon
          p Pug
          |
          |
          img(src="./img/pug.svg" alt="Icon")
          |
          |
    .col-6.col-md-4.mb-4
      figure.item
        .item-icon
          +icon('jquery')
    .col-6.col-md-4.mb-4
      figure.item
        .item-icon
          +icon('sass')
    .mb-4.mb-m-0.col-6.col-md-4.offset-md-2
      figure.item
        .item-icon
          |
          |
          img(src="./img/es6.png" alt="Icon")
          |
          |
    .mb-4.mb-m-0.col-6.offset-3.offset-md-0.col-md-4
      figure.item
        .item-icon
          +icon('php')
