//Common styles type
.typical-styles
	h1 h1 Заголовок 1-ого уровня
	h2 h2 Заголовок 2-ого уровня
	h3 h3 Заголовок 3-ого уровня
	h4 h4 Заголовок 4-ого уровня
	h5 h5 Заголовок 5-ого уровня
	h6 h6 Выделенный заголовок
	hr
	p Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности требуют определения и уточнения модели развития.
	hr
	blockquote По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
	hr
	|
	|
	cite Товарищи! новая модель организационной деятельности играет важную роль в формировании соответствующий условий активизации. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения новых предложений.
	|
	|
	hr
	|
	|
	a(href="#") Типовая ссылка
	|
	|
	hr
	ul
		li Маркированный список
		li Маркированный список
		li Маркированный список
	hr
	ol
		li Нумерованный список
		li Нумерованный список
		li Нумерованный список
			ol
				li Нумерованный список 1ур.
				li Нумерованный список 1ур.
				li Нумерованный список 1ур.
					ol
						li Нумерованный список 2ур.
						li Нумерованный список 2ур.
						li Нумерованный список 2ур.
							ol
								li Нумерованный список 3ур.
								li Нумерованный список 3ур.
								li Нумерованный список 3ур.
	hr
	|
	|
	img(src="img/9.jpg" title="Image")
	|
	|
	hr
	table
		tbody
			tr
				td
				td Заголовок 1
				td Заголовок 2
				td Заголовок 3
				td Заголовок 4
				td Заголовок 5
			tr
				td Ряд 1
				td Значение
				td Значение
				td Значение
				td Значение
				td Значение
			tr
				td Ряд 2
				td Значение
				td Значение
				td Значение
				td Значение
				td Значение
			tr
				td Ряд 3
				td Значение
				td Значение
				td Значение
				td Значение
				td Значение
			tr
				td Ряд 4
				td Значение
				td Значение
				td Значение
				td Значение
				td Значение